{% extends "base.html" %}


{% block title %}WYH{% endblock %}

{% block content %}

<h1 align="center">Items</h1>
<ul id="items">
  {% for item in user.items  %}
  <li>{{ item.name }} quantity: {{ item.quantity }}
    <button type="button" class="close" onClick="deleteItem({{ item.id }})">
      <span aria-hidden="true">&times;</span>
    </button>
  </li>
  {% endfor %}
</ul>

<form method="POST">
  <input class="form-control"
         type="text"
         name="item"
         id="item"
         placeholder="Enter Item name... "/>
  <input class="form-control" 
         type="text"
         name="quantity"
         id="quantity"
         placeholder="Enter Item Quantity... "/>
  <br>
  <div align="center">
    <button type="submit">Add note</button>
  </div>
</form>

{% endblock %}