body {
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #F5F5F5;
}

nav {
  background-color: #303036;
  color: white;
  padding: 20px;
  top: 0;
  position: sticky;
  border-bottom: 3px solid #30BCED;
}

nav h1 {
  text-align: left;
  float: left;
}

nav ul {
  list-style-type: none;
  text-align: right;
}

nav li {
  display: inline;
  padding: 0px 20px 0px 20px;
  font-size: larger;
  font-weight: 600;
}

nav li:hover {
  transition: .75s;
  font-size: x-large;
}

nav a {
  color: #F5F5F5;
  text-decoration: none;
}

/* Start home page CSS*/

.background_image_div {
  background-image: url("../images/home_page.jpeg");
  height: 100%;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#showcase_header {
  padding: 30px;
  font-family: cursive;
  font-style: italic;
  font-size: 48px;
}

#showcase_paragraph {
  font-size: xx-large;
}

#showcase_paragraph, #showcase_header{
  text-align: center;
  color: white;
}

.our_purpose {
  padding: 50px;
  background-color: #F5F5F5;
}

#section_header {
  text-align: center;
  font-size: 40px;
}

#purpose_left, #purpose_right {
  width: 50%;
  display: inline;
  font-size: 30px;
  word-wrap: normal;
}

#purpose_left {
  float: left;
  text-align: left;
}

#purpose_right {
  float: right;
  text-align: right;
}

/* End home page CSS */

/* start form page CSS */

.form-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 25%;
  text-align: center;
  border-radius: 7%;
  padding: 50px;
  border: 1px solid #303036;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  background-color: #303036;
  color: white;
}

.form-group {
  padding: 10px;
}


.form-group input {
  padding: 13px 20px;
  margin: 8px 0;
  font-size: medium;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow:0 1px 2px #aaa;
  border: none;
  width: 100%;
}

.submit_button {
  display: block;
  margin: auto;
  font-size: large;
  padding: 15px;
  border-radius: 10px;
  border: none;
  width: 125px;
  background-color: #30BCED;
  color: white;
  text-align: center;
  float: right;
}

.submit_button:hover {
  box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2);
  transition: .2;
}

.form-container p {
  text-align: left;
  float: left;
  color: #30BCED;
}


/* End form page CSS */

/* success and error banners */

.error_banner, .success_banner {
  width: 100%;
  font-size: large;
  float: left;
  padding: 10px;
  opacity: 80%;
  text-align: center;
}

.error_banner {
  background-color: #bd423e;
}

.success_banner {
  background: #51a143;
}

/* Mobile CSS */

@media (max-width: 640px) {

  nav {
    display: none;
  }

  #showcase_paragraph {
    padding: 10px;
  }

  #purpose_left, #purpose_right {
    width: 95%;
    display: block;
    font-size: 25px;
    word-wrap: normal;
    text-align: center;
  }

  #purpose_left {
    float: none;
    clear: both;
  }

  #purpose_right {
    float: none;
    clear:both;
  }

}