body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 100%;
  background-color: #2b2b2b;
  color: #d9d9d9;
}

nav {
  background-color: #202121;
  color: #d9d9d9;
  padding: 20px;
  top: 0;
  display: grid;
  place-items: center;
  min-height: 70px;
}

nav h1 {
  font-size: xx-large;
}

/*do a hover for this*/
nav ul {
  padding: 0;
  margin: 0;
  font-size: large;
}

/*
remember that putting the display inline on the elements will make 
it arranged horizontally and not vertically so that it can be placed 
in the top bar
*/

nav li {
  list-style: none;
  display: inline;
}

/*make sure to set text color*/
a {
  padding: 15px;
  text-decoration: none;
  color: #71cf6d;
  font-weight: bold;
}

.bannerMessage {
  padding: 10px;
}

.error_banner, .success_banner {
  width: 100%;
  font-size: large;
  float: left;
  padding: 10px;
  opacity: 80%;
  text-align: center;
}

.error_banner {
  background-color: #bd423e;
}

.success_banner {
  background: #51a143;
}

#showcase_paragraph {
  font-size: large;
  text-align: center;
  padding: 10px;
}

h1 {
  text-align: center;
}

.form-group {
  padding: 10px;
  text-align: center;
}

.form-group label {
  text-align: center;
  display: block;
  font-size: larger;
  padding: 5px;
}

.form-group input {
  width: 20%;
  padding: 10px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow:0 1px 2px #aaa;
  border: none;
}

.submit_button {
  display: flex;
  margin: auto;
  font-size: large;
  padding: 10px;
  border-radius: 10px;
  border: none;
}

#items {
  text-align: center;
  list-style-type: none;
  font-size: large;
}

#items li {
  padding: 12px;
  font-size: large;
}

hr {
  width: 80%;
  align-items: center;
}