body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color:#F5CB5C;
  width: 100%;
}

nav {
  padding: 20px;
  background-color: #333533;
  color:#E8EDDF;    
  top: 0;
  display: grid;
  place-items: center;
  margin: auto;
  width: 100%;
  float: left;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  min-height: 70px;
}

nav h1 {
  font-size: xx-large;
  color: #E8EDDF;
}

/*do a hover for this*/
nav ul {
  padding: 0;
  margin: 0;
  color: #E8EDDF;
  font-size: large;
}

/*
remember that putting the display inline on the elements will make 
it arranged horizontally and not vertically so that it can be placed 
in the top bar
*/

nav li {
  list-style: none;
  display: inline;
}

/*make sure to set text color*/
a {
  padding: 15px;
  text-decoration: none;
  color: #E8EDDF;
}

.bannerMessage {
  padding: 10px;
}

.error_banner {
  font-size: large;
  color: #E8EDDF;
  float: left;
  padding: 10px;
  text-align: center;
  width: 100%;
  background-color: #81141485;
}

.success_banner {
  font-size: large;
  color: #E8EDDF;
  float: left;
  padding: 20px;
  text-align: center;
  width: 100%;
  background-color: #15a71580;
}

#showcase_paragraph {
  font-size: large;
  text-align: center;
}

h1 {
  text-align: center;
}

.form-group {
  padding: 10px;
  text-align: center;
}

.form-group label {
  text-align: center;
  display: block;
  font-size: larger;
  padding: 5px;
}

.form-group input {
  width: 20%;
  padding: 10px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow:0 1px 2px #aaa;
  border: none;
}

.submit_button {
  display: flex;
  margin: auto;
  font-size: large;
  padding: 10px;
  border-radius: 10px;
  border: none;
}