{% extends "base.html" %} {% block title %}Add Items{% endblock %} {% block
content %}

<div class="form-container">
  <h1>Add Items</h1>
  <form method="POST">
    <div class="form-group">
      <input
        class="form-control"
        type="text"
        name="item"
        id="item"
        placeholder="Enter Item name... "
      />
    </div>
    <div class="form-group">
      <input
        class="form-control"
        type="text"
        name="quantity"
        id="quantity"
        placeholder="Enter Item Quantity... "
      />
    </div>
    <br />
    <div class="button_holder">
      <button type="submit" class="submit_button">Add Item</button>
    </div>
  </form>
</div>

{% endblock %}
