<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Stocked Shelves | {% block title %}{% endblock %}</title>

    <!-- main css -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='styles/style.css') }}"
    />

    <!-- fontawesome-->
    <script
      src="https://kit.fontawesome.com/2212472dbe.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <nav class="desktop">
      {% if user.is_authenticated %}
      <a href="/settings"><i class="fa-solid fa-gear"></i></a>
      {% else %}
      <!--Nothing-->
      {% endif %}

      <h1 id="site_header"><a href="/">Stocked Shelves</a></h1>

      <ul>
        {% if user.is_authenticated %}
        <li><a href="/">Home</a></li>
        <li><a href="/logout">Logout</a></li>
        <li><a href="/what_you_have">What you have</a></li>
        <li><a href="/add_items">Add Items</a></li>

        {% else %}
        <li><a href="/login">Login</a></li>
        <li><a href="/sign_up">Sign Up</a></li>
        {% endif %}
      </ul>
    </nav>

    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %} {% if category ==
    'error' %}
    <div class="error_banner" role="alert">
      <div class="bannerMessage">{{ message }}</div>
    </div>
    {% else %}
    <div class="success_banner" role="alert">
      <div class="bannerMessagee">{{ message }}</div>
    </div>
    {% endif %} {% endfor %} {% endif %} {% endwith %}

    <div class="content">{% block content %} {% endblock %}</div>
    <div class="mobile_bottom_bar">
      <nav class="mobile">
        <ul>
          {% if user.is_authenticated %}
          <li>
            <a href="/">Home</a>
            <i class="fa-solid fa-house-blank"></i>
          </li>
          <li>
            <a href="/logout">Logout</a>
            <i class="fa-solid fa-right-from-bracket"></i>
          </li>
          <li>
            <a href="/what_you_have">Inventory</a>
            <i class="fa-solid fa-database"></i>
          </li>
          <li>
            <a href="/add_items">Add</a>
            <i class="fa-solid fa-circle-plus"></i>
          </li>

          {% else %}
          <li>
            <a href="/login">Login</a>
            <i class="fa-solid fa-right-to-bracket"></i>
          </li>
          <li>
            <a href="/sign_up">Sign Up</a>
            <i class="fa-solid fa-user-plus"></i>
          </li>

          {% endif %}
        </ul>
      </nav>
    </div>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='index.js') }}"
    ></script>
  </body>
</html>
