<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kitchen Datbase | {% block title %}{% endblock %}</title>

    <!-- main css -->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
  </head>
  <body>
    <nav>
      <h1>Kitchen <span class="highlight">Database</span></h1>
      <ul>

        {% if user.is_authenticated %}
        <a href="/">Home</a>
        <a href="/logout">Logout</a>
        <a href="/what_you_have">What you have</a>

        {% else %}
        <a href="/login">Login</a>
        <a href="/sign_up">Sign Up</a>
        {% endif %}
      </ul>
    </nav>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
      {% if category == 'error' %}
        <div class="" role="alert">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% else %}
        <div class="" role="alert">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% endif %}
      {% endfor %}
    {% endif %}
    {% endwith %}

    {% block content %}
    {% endblock %}
    <script
    type="text/javascript"
    src="{{ url_for('static', filename='index.js') }}"
  ></script>
  </body>
</html>