{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

  <div class="background_image_div">
    <br id="paragraph_breakline">
    <h2 id="showcase_header">Stocked Shelves</h2>
    <p id="showcase_paragraph">Stocked shelves is a site that will make sure that your kitchen has just the right amount of everything you need!
    </p>
  </div>

<div class="our_purpose">
  <h2 id="section_header">Our Purpose</h2>
  <p id="purpose_left">The story behind this site is actually pretty funny... One day when I was going through our cabinets I found a bottle of ironing starch, then another, then seven later I figured: "Why are we spending all of this money on something we use once and then loose?". It turns out that we had bought a bottle of every time we though we were out, they had been shoved in the back.<p>
  <p id="purpose_right">Why do people buy duplicates of things that they don't need? Maybe because of a lack of organization. Even if there are section dividers and labels on your shelves, you can still miss things when making your grocery list. That is why Stocked Shelves is here to make sure you never have to overbuy or run out of things again.</p>
</div>


{% endblock %}