{% extends "base.html" %} {% block title %}WYH{% endblock %} {% block content %}

<h1 class="item_header" align="center">Items</h1>

<div class="row">
  {% for item in user.items %}
  <div class="column">
    <div class="card">
      <h3><b>Item Name: </b>{{ item.name }}</h3>
      <p><b>Item Quantity: </b>{{ item.quantity }}</p>
      <button type="button" class="close" onClick="deleteItem({{ item.id }})">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
